@charset "utf-8";
@import url("./reset.scss");

body {
  background-color: #DCE6D1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 30px;
}

.phone {
  background-color: black;
  border-radius: 50px;
  height: 900px;
  width: 420px;
  padding: 80px 20px 30px 20px;
  box-sizing: border-box;
  overflow-y: auto;

  &:first-child {
    overflow-y: hidden;
  }
}

.phone::-webkit-scrollbar {
  display: none;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 680px;
  padding: 15px;
  border-radius: 30px;

  .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 17px;

    .profile__container {
      display: flex;
      gap: 10px;
      align-items: center;
    
      span {
        &:first-child {
          font-size: 35px;
        }
      }
    }

    .card__price {
      padding: 5px 10px;
      border-radius: 20px;
      border: 1px solid black;
      background-color: #FFDD2C;
      transform: rotate(45deg);
    }
  }

  .contents {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 620px;

    h1 {
      font-size: 50px;
      font-weight: 600;
      padding: 20px 10px;
      line-height: 1.5;
    }

    .progress {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 15px;

      .progress-bar {
        display: flex;
        flex-direction: column;
        gap: 13px;

        h3 {
          font-size: 48px;
        }

        progress {
          width: 100%;
          height: 18px;
          appearance: none;

          &::-webkit-progress-bar {
            background-color: white;
            border-radius: 15px;
            border: 2px solid black;
          }

          &::-webkit-progress-value {
            background-color: black;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            border: 2px solid black;
          }
        }
        
        .date {
          display: flex;
          justify-content: space-between;
        }
      }

      .continue-btn {
        margin-top: 10px;
        padding: 20px;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        border-radius: 20px;
        border: 3px solid black;
        background-color: white;
      }
    }
  }

  &:first-child {
    background-color: #CDE0FE;
  }

  &:nth-child(2) {
    background-color: #F5F2EF;
  }
}

.header {
  overflow-x: auto;

  .header__list {
    display: flex;
    color: white;
    gap: 10px;
    width: max-content;

    .header__list-item {
      border: 1px solid rgba($color: #fff, $alpha: 0.5);
      padding: 10px;
      border-radius: 20px;
    }

    .header__list-item--inverted {
      background-color: white;
      color: black;
    }
  }
}

.header::-webkit-scrollbar {
  display: none;
}

.cards {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  .cards__card {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .card__title {
      font-size: 28px;
      line-height: 1.4;
    }

    .card__footer {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        padding: 5px 10px;
        border-radius: 20px;
        border: 1px solid black;
      }

      .card__price {
        background-color: #FFDD2C;
        color: black;
      }

      .card__length {
        background-color: white;
        color: black;
      }
    }

    &:first-child {
      background-color: #292D33;
      color: white;
      border: 1px solid white;

      .card__title {
        color: white;
      }

      .card__footer {
        display: block;

        h3 {
          font-size: 17px;
        }

        progress {
          appearance: none;
          height: 5px;

          &::-webkit-progress-bar {
            background-color: gray;
            border-radius: 5px;
          }

          &::-webkit-progress-value {
            background-color: white;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
        }
      }
    }

    &:nth-child(2) {
      background-color: #F5F3F0;
    }

    &:nth-child(3) {
      background-color: #F9FDC0;

      .card__price {
        background-color: #E9AFFC;
      }
    }

    &:nth-child(4) {
      background-color: #B5A3F7;
    }

    &:nth-child(5) {
      background-color: #FED5D5;

      .card__price {
        background-color: #E9AFFC;
      }
    }

    &:nth-child(6) {
      background-color: #D1FEDE;
    }

    &:nth-child(3n) {
      grid-column: span 2;
    }
  }
}